<h3>teams#show</h3>

<p>
	<strong>Name: </strong>
	<%= @team.name %>
</p>

<p>
	<strong>Description: </strong>
	<%= @team.description %>
</p>

<p>
	<strong>Company: </strong>
	<%= @team.company %>
</p>

<p>
	<strong>Members: </strong>
	TO DO
</p>
<br>
<br>
<%= link_to "all teams", teams_path %>