<%= image_tag "ofi6.jpg", :class => 'fotoPortada' %>
<br>
<h2 class="center up">Manage Your Team</h2>
<p class="center">Entry</p>
<h3 class="center"><%= link_to "Sign up", sign_up_path, :class => "center" %></h3>