/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require foundation_and_overrides
 
 *= require_tree .
 */

 /*= require foundation */

 .app_header{
 	background-color: #CEECF5;
 	width: 100%;
 	z-index: 1;
 	position: fixed;
 	
 }

 .logIn-as{
 	font-family: cursive;
 	color: #2E2EFE;
 	margin-bottom: 0;
 }

 .cl:after{
 	content: "";
 	clear: both;
 	display: block;
 }

.fotoPortada {
 	width: 100%;
 	height: 60%;
 	margin-top: 5%;
 }

.hdr-inner {
	background-color: white;
	max-width: 1000px;
	margin: 0 auto;

}

.hdr-right{
	float: right;
	width: 30%;
	margin-top: 1%;
}

.hdr-brand{
	display: inline-block;
	margin-right: 5px;
	margin-bottom: 5px;
	float:left;
}

.center{
	text-align: right;
}

.tables {
	background-color: white;
	border-spacing: 2px;
}


