// Place all the styles related to the members controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.members {
	.app_header{
	 	background-color: #787878;
	 	width: 100%;
	 	z-index: 1;
	 	position: fixed;
	 	margin-top: -8%;
 	}
	.member_table {
		background-color: black;
		border-spacing: 1px;
	}

	.member_table tr th{
		background-color: #AEB7B7;
		padding: 5px;
		margin: 1px;
	}

	.list_line_even {
		 background: #AAE1E6;
	}

	.list_line_odd {
	 	 background: #94C3C7;
	}

	.centerm {
		margin: 0 auto;
		margin-top: 8%;
		text-align: center;
	}

	.down-hdr {
		margin-left: 2%;
		position: fixed;
	}

	.thing {
		width: 15%;
	}
}