// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teams {
	.app_header{
	 	background-color: #CEECF5;
	 	width: 100%;
	 	z-index: 1;
	 	position: fixed;
	 	margin-top: -8%;
 	}

	.list_line_even {
		 background: #A9D0F5;
	}

	.list_line_odd {
	 	 background: #CEECF5;
	}

	.center{
		margin: 0 auto;
		margin-top: 8%;
	}

	.center2 {
		margin: 0 auto;
		margin-left: 47%;
	}
	.bajo-hdr {
		margin-left: 2%;
		position: fixed;
	}
	.limitLength {
		word-wrap: break-word;
		max-width: 200px;
	}
	.limitLength2 {
		word-wrap: break-word;
		max-width: 600px;
	}

}