// Place all the styles related to the teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.teams {
	.app_header{
	 	background-color: #787878;
	 	width: 100%;
	 	z-index: 1;
	 	position: fixed;
	 	margin-top: -8%;
 	}
	.team_table{
		background-color: black;
		/*border-collapse: collapse;*/
		border-spacing: 1px;
	}

	.team_table tr th{
		background-color: #5858FA;
		padding: 5px;
		margin: 1px;
	}

	.list_line_even {
		 background: #A9D0F5;
	}

	.list_line_odd {
	 	 background: #CEECF5;
	}

	.center{
		margin: 0 auto;
		margin-top: 8%;
	}

	.center2 {
		margin: 0 auto;
		margin-left: 47%;
	}
	.bajo-hdr {
		margin-left: 2%;
		position: fixed;
	}
	/* .team_table tr {
	  display: block;
	  border: 1px solid #000;
	}

	.team_table td{
		border-left: 1px solid #000;
		border-right: 1px solid #000;		
	}

	.team_table th{
		border-left: 1px solid #000;
		border-right: 1px solid #000;		
	} */
	/*.team_table tr td{
			background-color: yellow;
			padding: 2px;
		}*/

}