// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container1 {
	width: 90%;
	margin-top: 14%;
	margin-left: 5%;
	margin-right: 5%;
	border-bottom: 1px solid #dbdbdb;

}

.container2 {
	width: 55%;
	display: inline-block;
}

.container2:first-child {
	color: #333;
}
.container3 {
	width: 35%;
	display: inline-block;
	margin-top: -18%;
	margin-right: -6%;
}

.p_home {
	
	font-size: 24pt;
	font-family: freight-sans-pro;
	border-bottom: 1px solid #dbdbdb;
}

.text_home {
	font-size: x-large;
	display: inline-block;
	color: #787878;
}

.up{
	margin-top: -19%;
}

.image_media {
	margin-left: 15%;
	display: inline-block;
}

.footer {
	max-width: 100%;
	background-color: #787878;
}
	
.textfoot {
	display: block;
	text-align: center;
	
	border: 3px solid #787878;
	border-radius: 9px;
}
.middle {
	display: inline-block;
	margin-left: 29.4%;
}
.abc {
	display: inline-block;
}
.center {
	text-align: center;
	
}
.colorg {
	color: #787878;
}
